<link rel="stylesheet" type="text/css" href="/static/styles/css/menu-item.css" />
<div class="col-3-0f-4 table-container">
    <div class="row">
        <div class="col-4-0f-4">
            <a href="#menu-item-modal" class="link btn btn-primary" id="add-menu-item">Add A New Menu Item</a>
        </div>
    </div>
    <span id="page-success" class="text-success"></span>
    <span id="page-error" class="text-error"></span>
    <table>
        <thead>
            <tr>
                <td>No.</td>
                <td>Item</td>
                <td>Description</td>
                <td>Price</td>
                <td>Added</td>
                <td>Added By</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {{#each menuItems}}
            <tr>
                <td>{{_increment @index}}</td>
                <td>
                    <div class="menu-item-name">{{itemname}}</div>
                    <hr class="divider">
                    <div class="menu-item-photo-container">
                        <img src="/menu-item/{{_id}}/image" alt="menu item image"
                            class="menu-item-photo" />
                    </div>
                </td>
                <td><div class="item-description">{{description}} {{itemname}}</div></td>
                <td>{{price}}</td>
                <td>{{_toLongDate createdAt}}</td>
                <td>{{createdby.username}}</td>
                <td>
                    <button class="btn btn-primary edit-btn" data-id="{{_id}}" data-itemname="{{itemname}}"
                        data-description="{{description}}" data-price="{{price}}">Edit</button>
                    <button class="btn btn-warning delete-btn" data-id="{{_id}}">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
<div class="modal-container" id="menu-item-modal">
    <div class="modal-content">
        <div class="modal-header clear-fix">
            <h3 class="modal-heading" id="menu-item-modal-heading"></h3>
            <a class="modal-close" href="#"><i class="fa "></i></a>
        </div>
        <div class="modal-body">
            <div class="new-menu-item-form">
                <span id="error-span" class="text-error"></span>
                <form method="POST" action="/menu-items/" enctype="multipart/form-data" id="menu-item-form">
                    <input type="hidden" name="menu-item-id" value="0" />
                    <div class="control-group">
                        <label for="itemname" class="control-label">Item Name</label>
                        <input type="text" name="itemname" id="itemname" class="control" placeholder="Item Name"
                            required="required" />
                    </div>
                    <div class="control-group">
                        <label for="price" class="control-label">Price</label>
                        <input type="number" name="price" id="price" class="control" placeholder="price"
                            required="required" min="1.0" />
                    </div>
                    <div class="control-group">
                        <label for="menu-image" class="control-label">Image</label>
                        <input type="file" name="menu-image" id="menu-image" class="control" placeholder="Image"
                            required="required" />
                    </div>
                    <div class="control-group">
                        <label for="description" class="control-label">Description</label>
                        <textarea name="description" id="description" rows="2" class="control form-textarea"
                            placeholder="Additional Details" minlength="5" required="required"></textarea>
                    </div>
                    <div class="control-group text-center">
                        <input id="submit" name="submit" type="submit" value="Save" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>
<script src="/static/scripts/js/utils.js"></script>
<script src="/static/scripts/js/menu-item.js"></script>